body {
    
    overflow-x: hidden;
    position: relative;
    background-color: rgb(26, 2, 18) !important;
    background-image: url("./assets/Group\ 28.svg");
    color: #fff !important;
    font-family: "Centra", sans-serif !important;
    align-items: center;
  }
  h1{
    margin: 0;
  }
  .loginanc{
    text-decoration: none;
    color: white;
  }
  .admin{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;

  }
  .name{
    background-color: rgb(59, 118, 45);
    color: white;
    margin-top: 4px;
    font-size: small;
    margin-left: 20px;
  }
  .logoutbt{
    text-decoration: none;
    color: white;
    background-color:  rgb(59, 118, 45);
  }
  .cardimg{
    width: 90px;
    height: 150px;
  }
  .modalb{
    margin-left: 10vw;
    margin-top: 477px;
  }
  .modalbtn{
   padding: 20px 25px !important;
    border-radius: 50%;
    background-color: rgb(59, 118, 45);
    color: white;
  }
  
.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
    width: 900px;
    height: 528px;
    
    background-image: url("./assets/Group\ 35.svg");
   background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    
  }
  .imgcontainer {
    display: flex;
    
    margin-top: 30px;
      width: 100vw;
      height: 90vh;
    background-image: url("./assets/Group\ 4.svg");
      background-position:center;
      background-size:cover;
      
    }
.content{
  margin-top: 80px;
  margin-left: 230px;
  width:24vw;
}
.sub{
 
  font-size: medium;
  margin-top: 3vw;
}
.subt{
  font-size: medium;
  margin-top: 1.5vw;
}
.form-group{
  margin-bottom: 1.5vw;
}
.btnlog{
  margin-top: 0.5vw;
  background-color: rgb(38, 16, 80);
  border-radius: 8px;
  color: white;
  height:30px;
}
.btnlogt{
 
  background-color: rgb(38, 16, 80);
  border-radius: 8px;
  color: white;
  height:30px;
}
.contentt{
  margin-top: 60px;
  margin-left: 50px;
  width:24vw;
}
.dis{
  
  margin-bottom: 30px;
  font-size: smaller;
}
.white{
  color: white;
}
.blue{
  font-weight: 300;
  font-size: 90px;
  color: rgb(38, 16, 80);
}
.main{
  font-weight: 300;
  font-size: 90px;
  padding: 0;
}
.butt{
  background-color: rgb(38, 16, 80);
  border-radius: 8px;
  color: white;
  height:30px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
 
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }